/*landing page*/

.get {
    background: #0066EB;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.get-title {
    font-size: 180%;
    border: 1px solid #fff;
    padding: 20px;
    display: inline-block;
}

.banner-title{
    position: absolute;
    left:50%;
    top:20%;
    margin-left: -14rem;
    z-index:3;
    color: #fff;
}

.banner-text{
    position: absolute;
    font-size: 1.5rem;
    left:50%;
    z-index:3;
    color: #fff;
}

.top01{ top:42%;margin-left: -11rem; }

.top02{ top:62%;margin-left:-17.5rem; }

.top03{}

.get-btn {
    color: rgb(96, 165, 255);
    background: #03346B;
    padding: 20px 30px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.get-btn:hover {
    color: #fff;
}

.detail {
    background: #fff;
}

.detail-h2 {
    text-align: center;
    font-size: 200%;
    margin: 66px 0;
    color: #0066EB !important;
}

.detail-h3 {
    color: #1f8dd6;
}

.detail-p {
    color: #7f8c8d;
    text-align: justify;
    width: 100%;
}

.detail-mb {
    margin-bottom: 30px;
}

.hope {
    background: #0066EB;
    padding: 50px 0;
}

.hope-img {
    text-align: center;
}

.hope-hr {
    border-color: #1f8dd6;
}

.hope-title {
    font-size: 180%;
    color: #fff;
}

.about {
    background: #fff;
    padding: 40px 0;
    color: #7f8c8d;
}

.about-color {
    color: #0066EB;
}

.about-title {
    font-size: 180%;
    padding: 30px 0 50px 0;
    text-align: center;
}


/*login*/

.header {
    text-align: center;
}

.header h1 {
    font-size: 200%;
    color: #333;
    margin-top: 30px;
}

.header p {
    font-size: 14px;
}

.reg_box {
    margin-top: 20px;
    margin-bottom: 20px;
}